# Node.js
node_modules/
frontend/node_modules/

# Next.js
.next/
frontend/.next/
out/

# Environment files
.env
.env.local
backend/.env
frontend/.env

# Python
__pycache__/
*.pyc
venv/
backend/venv311/

# AI Models
backend/ml/*.keras
backend/ml/*.h5

# Logs
*.log

# ZIP files
*.zip

# VS Code
.vscode/